@media (max-width: 750px) {
  .cart-container {
    flex-direction: column;
  }
  .products-list-wrapper {
    width: 100% !important;
    margin: 0 !important;
  }
  .cart-product-info-wrapper {
    flex-direction: column;
    justify-content: space-between;
  }
  .cart-product-info {
    width: 100% !important;
    margin: 0 !important;
  }
  .cart-product-total {
    margin: 13px 0 !important;
    flex-direction: row !important;
    align-items: center !important;
    width: 100% !important;
  }

  .processing {
    width: 100% !important;
  }
  .cart-summary {
    position: static !important;
    width: 90% !important;
    margin: 20px 0 20px 20px !important;
  }
}

.to-purchase-btn {
  padding: 0.3em 0.85em;
  margin: 10px auto;
  border-radius: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #5e5e5e;
  width: 218px;
  height: 38px;
}

.to-purchase-btn:hover {
  color: #5e5e5e;
  background-color: #ffffff;
  cursor: pointer;
}

.cart-container {
  display: flex;
  background-color: white;
  /* padding-left: 20px; */
}

.products-list-wrapper {
  width: 60%;
  margin-right: 5%;
  margin-left: 5%;
}
.product-item {
  display: flex;
  padding: 30px 10px;
  border-bottom: 1px solid #f0f0f0;
}
.link-cart-product {
  margin: auto 0;
}
.cart-product-image {
  width: 140px;
}
.cart-product-info-wrapper {
  display: flex;
  margin-left: 20px;
  /* width: 100%; */
}
.cart-product-info {
  line-height: 1.5em;
  margin: 10px auto;
  /* width: 60%; */
}
.cart-product-info h1 {
  font-weight: 500;
}
.input_group {
  display: flex;
  width: 100%;
  align-items: center;
  height: 50px;
}

.amount-span {
  margin-right: 10px;
}

.btn {
  border: 1px solid #e0e0e0;
  color: #918d8d;
  background-color: white;
  font-weight: bold;
  height: 30px;
}
.btn:hover,
:focus {
  border-color: #0c3d5d;
  color: #0c3d5d;
  cursor: pointer;
}

.minus {
  border-radius: 100px 0 0 100px;
  padding: 0.2em 0.5em;
}

.plus {
  border-radius: 0 100px 100px 0;
  padding: 0.2em 0.45em;
}

.input-field::-webkit-outer-spin-button,
.input-field::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-field {
  text-align: center;
  padding: 2px 0;
  border: 1px solid #e0e0e0;
  width: 10%;
  background-color: white;
}
.input-field:hover,
:focus {
  outline: none;
  border-color: #0c3d5d;
  color: #0c3d5d;
  cursor: pointer;
}

.cart-product-total {
  margin: 13px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* width: 40%; */
  text-align: end;
}

.div-total-price {
  font-weight: bold;
}

.cart-remove-product-btn {
  padding: 0.5em 0.85em;
  align-self: flex-end;
  border: 1px solid #d1d1d1;
  border-radius: 20px;
  font-size: 16px;
  text-align: center;
  color: #8e8e8e;
  /* width: 100%; */
  background-color: transparent;
  transition: color 0.3s ease, border 0.3s ease;
}

.cart-remove-product-btn:hover {
  color: #d21919;
  border-color: #d21919;
  cursor: pointer;
}

.processing {
  width: 30%;
  /* border: 1px solid black; */
  /* height: fit-content; */
}

.cart-summary {
  padding: 24px;
  margin: 20px 10px 20px 0;
  text-align: center;
  width: 25%;
  position: fixed;
  background-color: azure;
  border: 1px solid #f0f0f0;
}
.cart-summary-title {
  margin-bottom: 16px;
  font-size: 22px;
  font-weight: 600;
}
.order-summary {
  margin: 30px 0;
}
.cart-subtotal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  padding: 10px 0;
  border-bottom: 1px solid #80808040;
  border-top: 1px solid #80808040;
}
.total-pay {
  font-size: 20px;
}

.check-btn {
  box-shadow: 0px 10px 14px -7px #4eadad;
  background: linear-gradient(to bottom, #5d949d 5%, #185e5e 100%);
  background-color: #599bb3;
  border-radius: 8px;
  cursor: pointer;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px;
  text-shadow: 0px 1px 0px #3d768a;
  border: none;
}
.check-btn:hover {
  background: linear-gradient(to bottom, #408c99 5%, #009688 100%);
  background-color: #408c99;
}
.check-btn:active {
  position: relative;
  top: 1px;
}
